export MYSQL_DATABASE=main
export MYSQL_PASSWORD=Gs9Uot3Bf94yZUd52C39L5TyJfswX1
export MYSQL_ROOT_PASSWORD=TOB4ldtbhEoBOf8yZlMbq5naBevMl4gGvfwgnd7873Nq6QWX4K
export MYSQL_USER=application
export PMA_HOSTS=database-mysql,database-mariadb
export MYSQL_URL=mysql://root:${MYSQL_ROOT_PASSWORD}@localhost:3306/${MYSQL_DATABASE}
export MYSQL_DSN=root:${MYSQL_ROOT_PASSWORD}@tcp\(localhost:3306\)/${MYSQL_DATABASE}?parseTime=true
export MYSQL_TEST_DSN=root:${MYSQL_ROOT_PASSWORD}@tcp\(localhost:3306\)/${MYSQL_DATABASE}?parseTime=true
